<ion-header>
  <ion-toolbar>
    <ion-title>Templates</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

<!-- List of Text Items -->
<ion-list>
      <ion-item *ngFor="let data of templateData; let i=index">
          <ion-avatar slot="start" (click)="goDetails(i)">
              <img src="assets/images/template.png"/>
          </ion-avatar>
          <ion-label (click)="goDetails(i)">
              <h2 style="font-weight: bold;font-size: 15px">{{data.name}}</h2>
              <p>{{data.description}}</p>
          </ion-label>
          <ion-icon name="create" style="color:cornflowerblue" (click)="edit(data)"></ion-icon>
      </ion-item>
  </ion-list>
  
  
  
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="presentModal()">
      <ion-icon name="add"></ion-icon>
      </ion-fab-button>
  </ion-fab>
  </ion-content>





