<ion-header>
  <ion-toolbar>
    <ion-title>
     Favorites
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let data of myFav; let i=index">

      <ion-avatar slot="start">
        <img *ngIf="data.source == 'Upwork'" src="assets/images/upwork1.png"/>
        <img *ngIf="data.source == 'Freelancer'" src="assets/images/freelancer.png"/>
      </ion-avatar>

      <!-- <ion-avatar slot="start" *ngIf="profileImage == false">
          <img src="assets/images/freelancer.png"/>
      </ion-avatar> -->

      <ion-label (click)="goDetails(i)">
        <h2>{{data.title}}</h2>
        <h3>{{data.source}}</h3>
        <p>{{data.dated}}</p>
        <p>{{data.description}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
