<!-- <ion-header>
  <ion-toolbar>
    <ion-title>TemplateEdit</ion-title>
  </ion-toolbar>
</ion-header> -->

<!-- <ion-content padding>
    <ion-item>
        <ion-input [(ngModel)]="custom"></ion-input>
      </ion-item>
      <ion-button>Update</ion-button>
</ion-content> -->

<ion-content class="templateContent">
    <div class="mainDiv">
      <div class="childDiv">
        <ion-card>
          <ion-card-header>
            <button ion-button clear class="closeModal" (click)="close()">&times;</button>
          </ion-card-header>
          <ion-card-content>
            <h1>{{templateData.name}}</h1>
              <ion-item>
                <ion-input [(ngModel)]="desc"></ion-input>
              </ion-item>
              <ion-button (click)="update()">Update</ion-button>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
  </ion-content>
