<!-- <ion-header>
    <ion-toolbar>
         <ion-buttons slot="start">
              <ion-back-button></ion-back-button>
         </ion-buttons>
      <ion-title>
       List
       <ion-icon name="trash" (click)="delete()"></ion-icon>
      </ion-title>
    </ion-toolbar>
  </ion-header> -->

  <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
            <ion-icon name="arrow-round-back" class="backButton" (click)="closePage()"></ion-icon>
        </ion-buttons>
        <ion-title>List</ion-title>
        <ion-buttons slot="end">
            <ion-icon name="trash" class="deleteBtn" (click)="delete()"></ion-icon>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
  
  <ion-content>
  
        <ion-list>
          <ion-item *ngFor="let data of totalData; let i=index">
              <ion-checkbox *ngIf="data.check == true" checked="true" (click)="addToDelete(i)"></ion-checkbox>
              <ion-checkbox *ngIf="data.check != true" (click)="addToDelete(i)"></ion-checkbox>
            <ion-avatar>
              <img *ngIf="data.source == 'Upwork'" src="assets/images/upwork1.png"/>
              <img *ngIf="data.source == 'Freelancer'" src="assets/images/freelancer.png"/>
            </ion-avatar>
  
            <ion-label>
              <h2>{{data.title}}</h2>
              <p>{{data.description}}</p>
            </ion-label>
            <!-- <ion-icon name="heart" (click)="addFav(data,i)" *ngIf='!data.fav'></ion-icon>
            <ion-icon name="heart" (click)="addFav(data,i)" style="color:red"  *ngIf='data.fav' ></ion-icon> -->
          </ion-item>
        </ion-list>
  </ion-content>
