<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="content">
  <ion-card>
      <ion-card-header>
        <img *ngIf="totalData.source == 'Upwork'" src="assets/images/upwork1.png"/>
        <img *ngIf="totalData.source == 'Freelancer'" src="assets/images/freelancer.png"/>

        <ion-card-title>{{totalData.title}}</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
       {{totalData.description}}
      </ion-card-content>
      <h4>Publish Date:{{totalData.dated}}</h4>
      <h4>Source:{{totalData.source}}</h4>
    </ion-card>
    <ion-button color="secondary" (click)="bid()">Bid</ion-button>
</ion-content>
