<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="content">
  <ion-card>
   
       
      <ion-card-header>
                <img *ngIf="totalData.source == 'Upwork'" src="assets/images/upwork1.png"/>
                <img *ngIf="totalData.source == 'Freelancer'" src="assets/images/freelancer.png"/>
                <ion-card-title>{{totalData.title}}</ion-card-title>
      </ion-card-header>
      <ion-item style="direction: rtl">
            <ion-icon name="information-circle" style="zoom:2.0" (click)="seeDetails()"></ion-icon>
      </ion-item>
    
      <ion-card-content>
        <div [innerHTML]="description"></div>
       <!-- {{totalData.description}} -->

      </ion-card-content>
      <!-- <h4>Publish Date:{{totalData.dated}}</h4>
      <h4>Source:{{totalData.source}}</h4> -->
    </ion-card>

    <div class="spacer" style="height: 5px;"></div>

    <ion-card>
        <ion-card-content>

            <ion-row>
                <ion-col size="5">
                    <h3 style="font-weight:bold;">Publish Date:</h3>
                </ion-col>
                <ion-col size="7">
                    <h4>{{totalData.dated}}</h4>
                </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col size="5">
                      <h3 style="font-weight:bold;">Source:</h3>
                  </ion-col>
                  <ion-col size="7">
                      <h4>{{totalData.source}}</h4>
                  </ion-col>
              </ion-row>

        </ion-card-content>
    </ion-card>
    <!-- <ion-button color="secondary" (click)="bid()">Bid</ion-button> -->
</ion-content>
<ion-footer>
    <ion-button expand="block" (click)="bid()">Bid</ion-button>
      <!-- <ion-button ion-button block (click)="bid()"> Bid </ion-button> -->
</ion-footer>
